* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'futura-pt', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.4;
    color: #000;
    background-color: #e3e3e3;
    margin: 3rem;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: underline;
  color: inherit;
  font-weight: 500;
  font-size: 1.2rem;
}

a:hover {
  color: #666;
}

.skjult { 
    display: none; 
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #ddd;
    padding: 1rem;
    height: 4rem;
    margin-bottom: 1rem;
}

header:hover {
    opacity: 0.5;
}

#venstre {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#logo {
    height: 100%;
    width: auto;
    object-fit: contain;
}

h1 {
    font-family: "bc-alphapipe", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 1;
}

h2 {
    font-family: "bc-alphapipe", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}



#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#menu p {
    line-height: 1;
    cursor: pointer;
    width: fit-content;
    background-color: #ddd;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#menu p:hover {
    background-color: #d9d9d9;
}



#submenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#submenu:empty {
    display: none;
}

.release-kort {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 1rem;
    height: 5rem;
    width: 18rem;
    font-size: 1rem;
    line-height: 1;
    background-color: #ddd;
    cursor: pointer;
    filter: opacity(0.9);
}

.release-kort:hover {
    background-color: #e5e5e5;
    filter: opacity(1);
}

.release-kort img {
    height: 100%;
    width: auto;
    border-radius: 1rem 0 0 1rem;
}

.release-kort-tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.release-kort-titel {
    font-weight: 600;
}

.release-kort-kunstner {
    font-weight: 400;
}



#billedet {
    z-index: -1;
    width: 100vw;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.03;
}

.sløret {
    filter: blur(0.5rem);
}



.layout {
    display: grid;
    grid-template-columns: minmax(100px, 600px) minmax(100px, 600px);
    justify-content: center;
    flex: 1;
    gap: 2rem;
    overflow: hidden;
}

#content {
    white-space: pre-wrap;
    font-weight: 400;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.event {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 1rem;
}

#images {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

img {
    border-radius: 1rem;
}

.image-caption {
    font-size: 0.8rem;
    margin-top: -1.75rem;
    text-align: right;
    color: #999;
    cursor: default;
}

#player {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    border-radius: 1rem;
    backdrop-filter: blur(1px);
}

iframe {
    border-radius: 1rem;
    opacity: 0.75;
}

.play-knap {
    font-weight: 600;
    width: fit-content;
    font-size: 1.3rem;
}

@media (max-width: 600px) {
  body {
    overflow-y: auto;
    height: auto;
    margin: 1rem;
  }

  header {
    height: 3rem;
    padding: 0.75rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  .layout {
    display: flex;
    flex-direction: column;
    overflow: visible;
    height: auto;
  }

  #player {
    width: 300px;
  }

  #billedet {
    height: 100vh;
    width: auto;
  }

  #billedet img {
    max-width: none;
    height: 100vh;
    width: auto;
  }

  #content .image-caption {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }

  .play-knap {
    margin-bottom: 1rem;
  }

  #submenu {
    flex-direction: column;
  }

  .release-kort {
    width: 100%;
  }
}

strong {
    font-weight: 600;
}